<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>
    <context id="kotlin" targetRuntime="MyBatis3Kotlin">
        <jdbcConnection
                driverClass="com.mysql.cj.jdbc.Driver"
                connectionURL="jdbc:mysql://localhost:3306/survey"
                userId="survey_user"
                password="survey_password"
        />

        <javaModelGenerator targetPackage="com.orangeman.example.survey.automake.domain" targetProject="src/main/kotlin" />
        <javaClientGenerator targetPackage="com.orangeman.example.survey.automake.mapper" targetProject="src/main/kotlin" />

        <table tableName="publishers" />
        <table tableName="surveies" />
        <table tableName="questions" />
        <table tableName="options" />
        <table tableName="audiences" />
        <table tableName="answers" />

    </context>
</generatorConfiguration>